.autocomplete {

  &-message {
    margin: 10px 0;
    text-align: center;
    min-height: 2em;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }

    &.__info {
      color: $text-blue-color;
    }

    &.__error {
      color: $text-red-color;
    }

    &.__success {
      font-weight: 700;
      color: $text-green-color;
    }
  }

  &-wrapper {
    background: var(--search-bg-color);
    padding: 10px 10px 15px;
    position: sticky;
    bottom: 0;
    z-index: 2;
    margin-left:-10px;
    width:calc(100% + 20px);

    &.__pinned {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        width: 100vw;
        left: 50%;
        height: 1px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .75);
      }
    }
  }

  &-form {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 104px;
    align-items: center;

    .btn {
      height: 100%;
      border-radius: 50px;
      font-size: 15px;
    }
  }

  &-holder {
    position: relative;
    z-index: 1;

    .wrapper {
      background-color: $autocomplete-bg !important;
      border-color: $autocomplete-border !important;
      color: $autocomplete-result-text !important;

      input {
        color: $text-main-color !important;
        font-family: 'Montserrat', sans-serif;
      }

      li.selected {
        background-color: $autocomplete-hover-bg !important;
      }

      div.line {
        border-top-color: $autocomplete-border !important;
      }
    }

    .result-item {
      display: grid;
      gap: 8px;
      grid-template-columns: 20px 1fr;
      align-items: center;
      text-transform:capitalize;
      color: $text-main-color;

      &__icon {
        display: flex;
        align-items: center;

        img {
          display: block;
          max-width: 100%;
        }
      }
    }

    .wrapper {
      flex-flow: column-reverse !important;
      bottom: 0;

      ul {
        padding: 8px 0;
      }

      ul li {
        cursor: pointer;
      }

      > div:first-child {
        position: relative;
        padding-left: 30px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 14px;
          width: 20px;
          height: 20px;
          margin-top: -10px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
