.header {

  .container {
    padding: 10px 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
  }

  &-cell {
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    .btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      span {
        height: 26px;
        display: block;
      }
    }
  }
}

.logo {
  cursor: pointer;
  font-weight: 700;
  font-size: 26px;
  color: $text-main-color;
}


.loader {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  display: block;

  svg path {
    fill: var(--text-green-color);
  }
}
