* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    height: var(--app-scroll-size);
    width: var(--app-scroll-size);
  }

  &::-webkit-scrollbar-track {
    height: var(--app-scroll-size);
    width: var(--app-scroll-size);
    background-color: $btn-blue-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $text-blue-color;
    border-radius: calc(var(--app-scroll-size) / 2);
  }

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: clip;
  background: var(--app-bg-color);
}

body {
  overflow-x: clip;
  height: 100%;
  color: var(--text-main-color);
  font-family: 'Montserrat', sans-serif;
}

#root {
  min-height: 100%;
  display: flex;
}

.page {
  padding: 0 10px;
  flex: 1;

  &.__home {
    background: linear-gradient(to bottom,  #1840b5 0%,#1085d6 100%);
    display: flex;
    flex-flow: column;

    .container {
      display: flex;
      flex-flow: column;
      margin: auto;
    }
  }
}

.container {
  margin: 0 auto;

  max-width: var(--app-width);
}

.globe {
  -webkit-tap-highlight-color: transparent;
  cursor: grab;
  margin: 0 auto;
  user-select: none;

  &-holder {
    position: relative;
    margin-top: 10px;
  }

  &-wrapper {
    position: relative;
  }

  &-controls {
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

    .btn {
      border-radius: 4px;
      width: 36px;
      height: 36px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.globe:active {
  cursor: grabbing;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: $text-green-light-color;
}


.text-gray-dark {
  color: $text-green-light-color;
}

.fw-b {
  font-weight: 700;
}

.home-cell {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin: auto;
  max-width: 66vw;
  min-height: 62vh;
  padding-bottom: 2vw;
}

.home-logo {
  max-width: 72%;
  margin-bottom: min(30vw, 180px);

  img {
    max-width: 100%;
  }
}
