.stat {

  &-controls {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .btn {
      border-radius: 50px;
      min-width: 102px;
      padding: 13px 20px;
      font-size: 16px;
    }
  }

  &-holder {
    text-align: center;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-cell {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 6px;
    padding: 20px 10px 14px;
    border-radius: 7px;
    background: $text-white-color-dark;

    &__val {
      text-align: center;
      font-weight: 700;
      font-size: 24px;
    }

    &__name {
      text-transform: uppercase;
      font-size: 11px;
    }
  }
}
