:root {
  --app-scroll-size: 6px;
  --app-width: 600px;
  --app-bg-color: linear-gradient(180deg, #a0d8ff 10%, #e7f3ff);
  --search-bg-color: rgb(255 255 255 / 50%);
  --text-main-color: #061b29;
  --text-white-color: #fff;
  --text-white-color-dark: #f8fbfd;
  --text-black-color: #141518;
  --text-red-color: #f00;
  --text-rose-color: #ab6976;
  --text-green-color: #00ab35;
  --text-green-light-color: rgb(0 171 53 / 35%);
  --text-blue-color: linear-gradient(180deg, #30a9f9 10%, #0b8fe6 100%);
  --text-blue-color-light: rgb(122 186 217 / 30%);
  --btn-blue-hover: #91d3ff;
  --btn-darkblue-hover: linear-gradient(180deg, #209bed 10%, #0984d5 100%);
  --btn-green-bg: #0fbb50;
  --btn-blue-text: #0e3751;
  --btn-blue-bg: linear-gradient(180deg, rgb(255 255 255) 10%, rgb(231 237 241) 100%);
  --btn-blue-border: 1px solid #eaeff1;
  --btn-gray-bg-dark: #b3c4d0;
  --btn-gray-bg: #dae6ed;
  --btn-gray-bg-light: #edf3f7;
  --btn-gray-border: #d6e4ee;
  --btn-gray-border-light: #d5e0e7;
  --btn-gray-color: #536068;
  --autocomplete-bg: #fff;
  --autocomplete-border: transparent;
  --autocomplete-hover-bg: #eef1f3;
  --autocomplete-result-text: #477eea;
}

$text-main-color: var(--text-main-color);
$app-bg-color: var(--app-bg-color);
$text-main-color: var(--text-main-color);
$text-white-color: var(--text-white-color);
$text-white-color-dark: var(--text-white-color-dark);
$text-black-color: var(--text-black-color);
$text-red-color: var(--text-red-color);
$text-rose-color: var(--text-rose-color);
$text-green-color: var(--text-green-color);
$text-green-light-color: var(--text-green-light-color);
$text-blue-color: var(--text-blue-color);
$text-blue-color-light: var(--text-blue-color-light);
$btn-blue-hover: var(--btn-blue-hover);
$btn-darkblue-hover: var(--btn-darkblue-hover);
$btn-green-bg: var(--btn-green-bg);
$btn-blue-text: var(--btn-blue-text);
$btn-blue-bg: var(--btn-blue-bg);
$btn-blue-border: var(--btn-blue-border);
$btn-gray-bg-dark: var(--btn-gray-bg-dark);
$btn-gray-bg: var(--btn-gray-bg);
$btn-gray-bg-light: var(--btn-gray-bg-light);
$btn-gray-border: var(--btn-gray-border);
$btn-gray-border-light: var(--btn-gray-border-light);
$btn-gray-color: var(--btn-gray-color);
$autocomplete-bg: var(--autocomplete-bg);
$autocomplete-border: var(--autocomplete-border);
$autocomplete-hover-bg: var(--autocomplete-hover-bg);
$autocomplete-result-text: var(--autocomplete-result-text);

.dark:root {
  --app-bg-color: linear-gradient(180deg, #09225a 10%, #030e26 100%);
  --search-bg-color: rgb(4 14 34 / 70%);
  --text-main-color: #fff;
  --text-white-color: #fff;
  --text-white-color-dark: #355870;
  --text-black-color: #fff;
  --text-red-color: red;
  --text-rose-color: #b96675;
  --text-green-color: #3bb566;
  --text-green-light-color: rgb(59 181 102 / 60%);
  --text-blue-color: linear-gradient(180deg, rgb(8 118 191) 10%, rgb(6 93 151) 100%);
  --text-blue-color-light: rgb(28 83 118 / 60%);
  --btn-blue-hover: linear-gradient(180deg, rgb(10 135 219) 10%, rgb(10 114 183) 100%);
  --btn-darkblue-hover: linear-gradient(180deg, #0a87db 10%, #0a72b7);
  --btn-green-bg: #0fbb50;
  --btn-blue-text: #f3f6f9;
  --btn-blue-bg: linear-gradient(180deg, rgb(83 115 137) 10%, rgb(57 84 102) 100%);
  --btn-blue-border: 1px solid #506b7c;
  --btn-gray-bg-dark: #466d88;
  --btn-gray-bg: #0d334a;
  --btn-gray-bg-light: #244155;
  --btn-gray-border: #1e435c;
  --btn-gray-border-light: #3d5c72;
  --btn-gray-color: #536068;
  --autocomplete-bg: #1c2e54;
  --autocomplete-border: #3a4660;
  --autocomplete-hover-bg: #3b4865;
  --autocomplete-result-text: #fff;
}
