:root {
  --app-scroll-size: 6px;
  --app-width: 600px;
  --app-bg-color: #fff;
  --text-main-color: #061b29;
  --text-white-color: #fff;
  --text-white-color-dark: #f8fbfd;
  --text-black-color: #141518;
  --text-red-color: #f00;
  --text-rose-color: #e76880;
  --text-green-color: #009403;
  --text-green-light-color: #c5f5cf;
  --text-blue-color: #0b8fe6;
  --text-blue-color-light: #d8e9f4;
  --btn-green-bg: #0fbb50;
  --btn-blue-text: #0e3751;
  --btn-blue-bg: #d7efff;
  --btn-gray-bg-dark: #b3c4d0;
  --btn-gray-bg: #dae6ed;
  --btn-gray-bg-light: #edf3f7;
  --btn-gray-border: #bdbdbd;
  --btn-gray-border-light: #d5e0e7;
  --btn-gray-color: #536068;
}

$text-main-color: var(--text-main-color);
$app-bg-color: var(--app-bg-color);
$text-main-color: var(--text-main-color);
$text-white-color: var(--text-white-color);
$text-white-color-dark: var(--text-white-color-dark);
$text-black-color: var(--text-black-color);
$text-red-color: var(--text-red-color);
$text-rose-color: var(--text-rose-color);
$text-green-color: var(--text-green-color);
$text-green-light-color: var(--text-green-light-color);
$text-blue-color: var(--text-blue-color);
$text-blue-color-light: var(--text-blue-color-light);
$btn-green-bg: var(--btn-green-bg);
$btn-blue-text: var(--btn-blue-text);
$btn-blue-bg: var(--btn-blue-bg);
$btn-gray-bg-dark: var(--btn-gray-bg-dark);
$btn-gray-bg: var(--btn-gray-bg);
$btn-gray-bg-light: var(--btn-gray-bg-light);
$btn-gray-border: var(--btn-gray-border);
$btn-gray-border-light: var(--btn-gray-border-light);
$btn-gray-color: var(--btn-gray-color);

.dark:root {
  --app-bg-color: #040c1e;
  --text-main-color: #fff;
  --text-white-color: #fff;
  --text-white-color-dark: #355870;
  --text-black-color: #fff;
  --text-red-color: red;
  --text-rose-color: #b96675;
  --text-green-color: #009403;
  --text-green-light-color: #0d4f1b;
  --text-blue-color: #1469a1;
  --text-blue-color-light: #11374f;
  --btn-green-bg: #0fbb50;
  --btn-blue-text: #ffffff;
  --btn-blue-bg: #164565;
  --btn-gray-bg-dark: #466d88;
  --btn-gray-bg: #0d334a;
  --btn-gray-bg-light: #244155;
  --btn-gray-border: #1e435c;
  --btn-gray-border-light: #3d5c72;
  --btn-gray-color: #536068;
}
